@tailwind base;
@tailwind components;
@tailwind utilities;

.words{
  font-family: "LXGW WenKai", sans-serif;
}
.heart {
  cursor: pointer;
  height: 50px;
  width: 50px;
  background-image: url('/web_heart_animation.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: 2900%;
  transform: scale(1.5);
}

.isLike {
  animation: heart-burst .8s steps(28) 1;
  background-position:right;

}
@keyframes heart-burst {
  from {
    background-position: left;
  }

  to {
    background-position: right;
  }
}
