@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #475569;
}
.words{
  font-family: "LXGW WenKai", sans-serif;
}
.heart {
  height: 50px;
  width: 50px;
  background-image: url('/web_heart_animation.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: 2900%;
  transform: scale(1.5);
}
.plane {
  height: 50px;
  width: 50px;
  background-image: url('/web_plane2.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(.7);
}

.isLike {
  animation: heart-burst .8s steps(28) 1;
  background-position:right;

}
@keyframes heart-burst {
  from {
    background-position: left;
  }

  to {
    background-position: right;
  }
}

@keyframes rise-up{
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
.rise-up{
  animation: rise-up 1s forwards;
}