@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #475569;
}

.words {
  font-family: "LXGW WenKai", sans-serif;
}

.heart {
  height: 50px;
  width: 50px;
  background-image: url('/web_heart_animation.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: 2900%;
  transform: scale(1.5);
}

.plane {
  height: 50px;
  width: 50px;
  background-image: url('/web_plane2.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(.7);
}

.isLike {
  animation: heart-burst .8s steps(28) 1;
  background-position: right;

}

@keyframes heart-burst {
  from {
    background-position: left;
  }

  to {
    background-position: right;
  }
}

@keyframes rise-up {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.rise-up {
  animation: rise-up 1s forwards;
}

.bg {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.bg::after {
  content: " ";
  position: absolute;
  top: -00px;
  left: -00px;
  bottom: -00px;
  right: -00px;
  background-image: conic-gradient(from 36deg at 20% 80%, #A100FFFF 0% 25%, #000000 25% 30%, #119CFDFF 30% 50%);
  filter: blur(100px);
  z-index: -1;
  animation: move 15s linear infinite;
}

@keyframes move {
  from {
    transform: rotate(180deg);
  }

  to {
    transform: rotate(540deg);
  }
}